<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Info</title>
</head>
<body>
<!-- Include _menu.html -->
<th:block th:include="/_menu"></th:block>


<h2>User Info Page</h2>
<h3>Welcome : <span th:utext="${#request.userPrincipal.name}"></span></h3>
<b>This is protected page!</b>

<br/><br/>


<tr th:each="event : ${events}">
    <td><p th:text="${event.eventName}"/></td>
    <td><p><a th:href="@{/event-details(eventId=${event.eventId})}">more details</a></p></td>
    <td><p><a th:href="@{/accept-event(eventId=${event.eventId}, )}">accept event</a></p></td>
</tr>

</body>

</html>